@tailwind base;
/* @tailwind components; */
@tailwind utilities;

html {
  width: 100%;
  height: 100%;
}
body {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container {
  width: 75%;
  height: 100%;
  /* menubar 밑에 고정 안되는 경우에 사용
  display: flex;
  flex-direction: column;
  justify-content: space-between; */
}
