@import "_util.scss";

h2 {
  font-size: x-large;
  text-align: center;
}
.categoryTop5 {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.category_btn {
  border-radius: 20px;
  padding: 5px 10px;
  font-size: 17px;
  font-weight: 700;
  margin-top: 5px;
  margin-right: 5px;
  border: 2px solid $color-main;
  // color: $color-main;
  background-color: $color-main;
  color: white;
}

.highlight {
  color: $color-main;
}

.categoryTop5-container,
.boardTop5-container {
  width: 100%;
}
.boardTop5-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.boardTop5 {
  display: flex;
  position: relative;
  max-width: 500px;
  margin: 0 auto;
}

.carousel {
  position: relative;
  overflow: hidden;
  width: 45%;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.carousel-inner {
  display: flex;
  transition: transform 0.3s ease-in-out;
}

.carousel-slide {
  flex: 0 0 100%;
}

.image-wrapper {
  position: relative;
  padding-bottom: 100%;
  width: 100%;
  height: 100%;
  flex-shrink: 0;
}
.carousel_img {
  width: 100%; /* 이미지의 크기를 div에 맞게 조절합니다. */
  height: 100%;
  object-fit: cover; /* 이미지가 div를 꽉 채우면서 비율을 유지하게 합니다. */
  cursor: pointer;
}

.carousel-prev,
.carousel-next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: none;
  border: none;
  cursor: pointer;
  width: 25px;
  height: 25px;
  background-color: #f0f8ff7d;
  border-radius: 50%;
}

.carousel-prev {
  left: 10px;
}

.carousel-next {
  right: 10px;
}

.carousel-prev:focus,
.carousel-next:focus {
  outline: none;
}

.carousel-prev svg,
.carousel-next svg {
  font-size: 24px;
}

@media only screen and (min-width: 320px) and (max-width: 768px) {
  .carousel {
    width: 40%;
    height: 300px;
    margin-bottom: 30px;
  }

  .carousel-inner {
    height: 200px;
  }

  .carousel_img {
    height: 100%;
  }

  .category_btn {
    border-radius: 20px;
    padding: 4px 8px;
    font-size: 14px;
    font-weight: 700;
    margin-top: 5px;
    margin-right: 5px;
    border: 2px solid $color-main;
    // color: $color-main;
    background-color: $color-main;
    color: white;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .carousel {
    width: 45%;
    height: 375px;
    margin-bottom: 50px;
  }

  .carousel-inner {
    height: 300px;
  }

  .carousel_img {
    height: 100%;
  }
}

@media only screen and (min-width: 1024px) {
  .carousel {
    width: 30%;
    height: 425px;
    margin-bottom: 70px;
  }

  .carousel-inner {
    height: 400px;
  }

  .carousel_img {
    height: 100%;
  }
}
