.search_dj{
    width: 100%;
    display: flex;
}

.search_contain_dj{
    width: 75%;
    height: 35px;
    margin: 10px 5px 10px 10%;
    background-color: #E5EBFF;
    border-radius: 8px;
}

#search_input_dj{
    width: 80%;
    margin: 7px 0px 0px 3%;

    background-color: #E5EBFF;

    font-size: 13px;
    
}

#search_btn_dj{
    margin-left: 12%;
    background-color: #E5EBFF;
}

.search_img_dj{
    display: block;
    position: relative;
    top: 5px;
    left: 10px;
    
}

#cancle_btn_dj{
    font-size: 11px;
    padding: 15px;
}