.goto{
    background-color: #a8bbff;
    color: white;

    border-radius: 4px;
    
    height: 30px;
    width: 200px;

    text-align: center;

    font-weight: bold;
}

#login_msg{
    font-weight: bold;
}