@import "_util.scss";

.input-wrapper {
  label {
    color: $color-main;
    text-align: left;
    font-size: 15px;
    line-height: normal;
    letter-spacing: -0.333px;
    margin-bottom: 5px;
  }

  .email {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    input {
      width: calc(100% - 65px);
    }
  }
  input {
    padding-left: 7px;
    &::placeholder {
      color: #ababaa;
      // font-size: 10.5px;
    }
    //TODO 작성 다 되면 (값 생기면) 하얀색으로 바뀌는 디자인 필요
    &:focus {
      background-color: #fff;
    }
  }
}
