.layout_hr {
  width: 100%;
  border: 0px;
  border-top: solid #d0dbff;
}

.login_logobox {
  text-align: center;
  margin-top: 5%;
  p {
    margin: 0 auto;
    font-weight: bolder;
    font-size: xx-large;
  }
}

.login_form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 5%;
  input {
    width: 55%;
    height: 40px;
    padding: 0 1%;
    border-radius: 7px;
    border: 2px solid #d0dbff;
    font-size: medium;
    font-weight: 500;
  }
  button {
    width: 57%;
    border-radius: 10px;
    border: none;
    background-color: #a8bbff;
    font-size: large;
    color: white;
    font-weight: bolder;
    padding: 1%;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  }
}

.login_linkbox {
  text-align: center;
  color: #a8bbff;
  font-size: medium;
  font-weight: bolder;
  .link_pw {
    margin-right: 5%;
  }
  .link_signup {
    margin-left: 5%;
    margin-right: 5%;
  }
}

.login_easy {
  div {
    display: flex;
    justify-content: center;
    width: 100%;
  }
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #d0dbff;
  font-weight: bold;
  hr {
    width: 20%;
    border: 0px;
    border-top: solid #d0dbff;
    margin: 0 3%;
  }
}
